.fonts{
font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

/* font-size:  50px; */

/* font-weight: 120; */

/* font-style: italic; */

/* font-variant: small-caps; */

/* line-height: 2; */

/* letter-spacing: 3px; */

/* word-spacing: 50px; */

/* text-align: center; */

/* text-decoration: overline; */

/* text-transform: lowercase; */

/* text-indent: 30px;  */
/* give space form left apply on block elements */

text-shadow:10px 10px 5px red;
}

.hello {
    font-size: 50px;
    color: rgb(255, 200, 150);
    /* color: hsl(0, 100%, 50%); */
}